@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@300&display=swap');

.Location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vw;
  padding-bottom: 10vw;
  background-color: #f7f0eb;
}

.wedding-hall {
  text-decoration: underline;
}

.map {
  position: relative;
  display: flex;
  justify-content: center;
  width: 75vw;
  height: 90vw;
  margin-top: 10vw;
  margin-bottom: 10vw;
}

.info-title {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: bold;
  font-size: 3vw;
  color: #302E2D;
  display: inline-block;
  white-space: nowrap;
  background-color: #FFF3ED;
  border: 2px solid #B0A99F;
  text-align: center;
  border-radius:5px;
  padding: 2vw;
}

.map-wrap {
  display: flex;
  max-width: 75vw;
  margin-bottom: 5vw;
}

.btn-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 8vw;
}

.mapbtn {
  display: flex;
  justify-content: center;
  width: 10vw;
  height: auto;
}

.mapbtn-title {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 2.8vw;
  font-weight: bold;
  color: #616161;
  margin-top: 1vw;
  text-align: center;
}


.shuttle-wrap {
  width: 70vw;
}

.shuttle {
  font-size: 2.8vw;
  text-align: center;
}