.Contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vw;
  padding-bottom: 10vw;
  background-color: #F8F8F8;
  padding-left: 5%;
  padding-right: 5%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.space-between-calls {
  height: 5vw;
}

.person {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
}

.person p {
  margin-right: 40%;
}

.call {
  width: 12%;
  height: auto;
  margin-right: 5%;
}

.msg {
  width: 12%;
  height: auto;
}

.divider {
  width: 65vw;
  height: 0.8px;
  background-color: #A8A6A3;
  border: none;
  margin-top: 0.5%;
}