.Gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #f7f0eb;
}

.pic-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: white;
  width: 75vw;
  height: 75vw;
}

.prev, .next {
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev img,
.next img {
  width: 5vw;
  height: auto;
}


.wedding-photos {
  width: auto;
  height: auto;
  max-width: 75vw;
  max-height: 75vw;
  object-fit: contain; /* 이미지가 비율을 유지하면서 컨테이너에 맞게 조정됩니다. */
}

.popup {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


.popup-photo {
  width: 90vw;
}

.mini-photo {
  max-width: 75vw;
  overflow-x: auto;
  white-space: nowrap;
}

.gallery-photo {
  width: 15vw;
  height: 15vw;
  object-fit: cover;
  display: inline-block;
  vertical-align: top;
  margin: 3vw 3vw 3vw 0;

}

.gallery-photo:last-child {
  margin-right: 0;
}