@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Diphylleia&family=Noto+Serif+KR&display=swap');

.Top {
  background-color: #fdfcf5;
  padding-bottom: 10vw;
  position: relative;
}

.image-slider {
  position: relative;
}

.image-slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.image-slider img.current {
  opacity: 1;
}

.hiddenImg{
  width: 100%;
  height: auto;
  visibility: hidden;
  position: relative;
}

.infoWrapp{
  margin-left: 7vw;
}


p {
  font-family: "Noto Serif KR", serif;
}

.title {
  font-size: 5vw;  
}

.bold-text {
  font-weight: bold;
}

.info {
  font-size: 3.8vw;
  font-family: "Diphylleia", serif;
  font-weight: bold;
  font-style: italic;
  color: #C7A884;
  position: relative;
}

.info::after {
  content: '';
  position: absolute;
  top: 55%;
  margin-left: 10px;
  height: 1.8px;
  width: 70%;
  background-color: #7B7671;
}

.inform {
  font-size: 3.2vw;
}