@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Serif+KR&display=swap');

.Invite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: beige;
}

.flower {
  width: 15vw;
  height: auto;
  margin-bottom: 10%;
}

p {
  font-family: "Noto Serif KR", serif;
  font-size: 3.2vw;
}

.subtitle {
  font-size: 4.5vw;
  margin-bottom: 10%;
}

.story {
  line-height: 2.2;
  text-align: center;
}

.family {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.parents, .child {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.child {
  margin-left: 10%;
  
}